<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net472" />
  <package id="Xceed.Document.NET" version="2.2.22101.20240" targetFramework="net472" />
  <package id="Xceed.Pdf" version="2.2.22101.20240" targetFramework="net472" />
  <package id="Xceed.Words.NET" version="2.2.22101.20240" targetFramework="net472" />
</packages>